body {
  font: 12px Arial;
  width: 80%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 2rem;
  background-color: #eeeeee;

}


.stat-box {
  border: 3px solid rgba(90,100,256,0.3);
  box-shadow: inset 2px 2px 2px gray;
  background-color: rgba(256,256,256,0.3);
  width: 600px;
  margin: 20px auto;
  text-align: center;
  border-radius: 9px;
  font-size: 1rem;
}

.stat-box p {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.stat-box ul {
  list-style-type: none;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: 150px;
  height: 58px;
  padding: 7px;
  font: 12px sans-serif;
  color: white;
  background: steelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.terms-box {
  position: fixed;
  bottom: 1%;
  right: 1%;
  width: 20%;
  background-color: #ff130094;
  padding: 1.3rem;
  font-size: .875rem;
}




.x text {
  font-size: .75rem;
  transform: rotate(60deg) translateX(6px);
  /* transform: translateX(3px); */
}
